<h2 class="text-info">DashBoard Home</h2>
<div class="container">
    <div class="row">
        <div class="card col-6 bg-success" >
            <high-chart chartType="pie" chartIdentifier="OpenFinishedProjects"></high-chart>
        </div>
        <div class="card bg-success col-6" >
            <high-chart chartType="pie" [chartIdentifier]="'ActiveInactiveEmployees'"></high-chart>
        </div>
    </div>
    <div class="row">
        <div class="card col-6 bg-success" >
            <high-chart chartType="pie" chartIdentifier="OpenFinishedStories"></high-chart>
        </div>
        <div class="card bg-success col-6" >
            <high-chart chartType="pie" [chartIdentifier]="'AllAllocatedUnAllocatedEmployee'"></high-chart>
        </div>
    </div>
</div>