<h2 class="text-info">Dasboard Home</h2>
HIGH CHARTS --TODO

<div class="container">
    <div class="row">
        <div class="card col-6 bg-success" >
            <high-chart chartType="pie" chartIdentifier="OpenFinishedProjects"></high-chart>
        </div>
        <div class="card bg-success col-5" style="margin-left: 5px;">
            <high-chart chartType="pie" [chartIdentifier]="'ActiveInactiveEmployees'"></high-chart>
        </div>
        <!-- <div class="card text-white bg-warning col-6" style="max-width: 20rem;margin-right: 20px;">
        <div class="card-header"> Open/Finished Project(s)
        </div>
        <div class="card-body">
            <high-chart chartType="line" chartIdentifier="OpenFinishedProjects"></high-chart>
        </div>
    </div>
    <div class="card text-white bg-success col-6" style="max-width: 20rem;margin-left: 20px;">
        <div class="card-header">Active Inactive Employee(s)</a></div>
        <div class="card-body">
            <high-chart chartType="pie" [chartIdentifier]="'ActiveInactiveEmployees'"></high-chart>
        </div>
    </div> -->

    </div>
</div>