<h2 class="text-info">Dasboard Home</h2>
HIGH CHARTS --TODO

<div class="container">
    <div class="row">
        <div class="card col-5 bg-success" >
            <high-chart chartType="pie" chartIdentifier="OpenFinishedProjects"></high-chart>
        </div>
        <div class="col-1" ></div>
        <div class="card bg-success col-5" style="margin-left: 5px;">
            <high-chart chartType="pie" [chartIdentifier]="'ActiveInactiveEmployees'"></high-chart>
        </div>
    </div>
    <div class="row">
        <div class="card col-5 bg-success" >
            <high-chart chartType="pie" chartIdentifier="OpenFinishedStories"></high-chart>
        </div>
        <div class="col-1" ></div>
        <div class="card bg-success col-5" style="margin-left: 5px;">
            <high-chart chartType="pie" [chartIdentifier]="'AllAllocatedUnAllocatedEmployee'"></high-chart>
        </div>
        <!-- <div class="card bg-success col-5" style="margin-left: 5px;">
            <high-chart chartType="pie" [chartIdentifier]="'ActiveInactiveEmployees'"></high-chart>
        </div> -->
    </div>
</div>